html{background:#f9f9f9;}

body{
	background:#fff;
	color:#333;
	font-family:sans-serif;
	margin:2em auto;
	padding:1em 2em;
	width:75%;
	-moz-border-radius:11px;
	-khtml-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	border:1px solid #dfdfdf;
}
h1{border-bottom:1px solid #dadada;clear:both;color:#666;font:28px Georgia,"Times New Roman",Times,serif;margin:5px 0 0 -4px;padding:0;text-align:center;padding-bottom:7px;font-variant:small-caps}
li,dd,dt,.set{padding-bottom:2px;font-size:18px;font-family:arial;margin:10px;}
.step{margin:20px 0 15px;text-align:center;width:100%;padding:0px;}
a img{border:0;}
#logo{margin:6px 0 14px 0;border-bottom:none;text-align:center;}

.submit input,.button,.button-secondary{
	font-family:sans-serif;
	text-decoration:none;
	font-size:14px!important;
	line-height:16px;
	padding:6px 12px;
	cursor:pointer;
	border:1px solid #bbb;
	color:#464646;
	-moz-border-radius:15px;
	-khtml-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	-khtml-box-sizing:content-box;
	box-sizing:content-box;
}

.button:hover,.button-secondary:hover,.submit input:hover{color:#000;border-color:#666;font-weight:bold}

.button,.submit input,.button-secondary{background:#f2f2f2 url(../images/white-grad.png) repeat-x scroll left top;}

.button:active,.submit input:active,.button-secondary:active{background:#eee url(../images/white-grad-active.png) repeat-x scroll left top;}
